In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\joseba\bootcamp\GitHub\Berlin-airbn\data\listings2.csv")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,review_scores_location,review_scores_accuracy,review_scores_communication,review_scores_checkin,review_scores_rating,maximum_nights,listing_url,host_is_superhost,host_response_time,host_response_rate
0,3176,Rental unit in Berlin · ★4.63 · 1 bedroom · 2 ...,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534710,13.418100,Entire home/apt,83.0,...,4.920000,4.670000,4.69000,4.64000,4.630000,184,https://www.airbnb.com/rooms/3176,False,within an hour,100%
1,9991,Rental unit in Berlin · ★5.0 · 4 bedrooms · 7 ...,33852,Philipp,Pankow,Prenzlauer Berg Südwest,52.532690,13.418050,Entire home/apt,180.0,...,4.860000,5.000000,5.00000,5.00000,5.000000,14,https://www.airbnb.com/rooms/9991,False,within an hour,100%
2,14325,Rental unit in Berlin · ★4.67 · Studio · 1 bed...,55531,Chris + Oliver,Pankow,Prenzlauer Berg Nordwest,52.548130,13.403660,Entire home/apt,70.0,...,4.580000,5.000000,4.84000,4.68000,4.670000,1125,https://www.airbnb.com/rooms/14325,False,within a few hours,86%
3,30295,Rental unit in Berlin · ★4.79 · 2 bedrooms · 4...,485838,Michele,Pankow,Helmholtzplatz,52.545960,13.422910,Entire home/apt,126.0,...,4.870000,4.820000,4.93000,4.91000,4.790000,365,https://www.airbnb.com/rooms/30295,True,within an hour,96%
4,20858,Loft in Berlin · ★4.49 · 2 bedrooms · 2 beds ·...,71331,Marc,Pankow,Prenzlauer Berg Südwest,52.537110,13.408880,Entire home/apt,179.0,...,4.900000,4.600000,4.50000,4.50000,4.490000,30,https://www.airbnb.com/rooms/20858,True,within an hour,100%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13129,958571350772689489,Rental unit in Berlin · ★New · 1 bedroom · 1 b...,443058379,Sven,Reinickendorf,West 4,52.570278,13.313004,Entire home/apt,93.0,...,4.751562,4.780784,4.81362,4.81324,4.687466,365,https://www.airbnb.com/rooms/958571350772689489,False,within an hour,80%
13130,970997180714426992,Rental unit in Berlin · ★New · 1 bedroom · 1 b...,406433050,Abhishek,Reinickendorf,West 4,52.575520,13.320740,Private room,37.0,...,4.751562,4.780784,4.81362,4.81324,4.687466,365,https://www.airbnb.com/rooms/970997180714426992,False,within a day,100%
13131,978143323297421141,Rental unit in Berlin · ★New · Studio · 1 bed ...,367035318,Olga,Reinickendorf,Ost 2,52.568030,13.359930,Shared room,12.0,...,4.751562,4.780784,4.81362,4.81324,4.687466,180,https://www.airbnb.com/rooms/978143323297421141,False,within a few hours,100%
13132,978149609147190141,Rental unit in Berlin · ★New · Studio · 1 bed ...,367035318,Olga,Reinickendorf,Ost 2,52.566320,13.360350,Shared room,12.0,...,4.751562,4.780784,4.81362,4.81324,4.687466,180,https://www.airbnb.com/rooms/978149609147190141,False,within a few hours,100%
13133,978123043897555466,Rental unit in Berlin · ★New · Studio · 1 bed ...,367035318,Olga,Reinickendorf,Ost 2,52.566801,13.361642,Shared room,12.0,...,4.751562,4.780784,4.81362,4.81324,4.687466,180,https://www.airbnb.com/rooms/978123043897555466,False,within a few hours,100%

In [3]:
df.isnull().sum().sum()

0

In [4]:
from pycaret.regression import *

In [5]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'property_type',
       'accommodates', 'first_review', 'review_scores_value',
       'review_scores_cleanliness', 'review_scores_location',
       'review_scores_accuracy', 'review_scores_communication',
       'review_scores_checkin', 'review_scores_rating', 'maximum_nights',
       'listing_url', 'host_is_superhost', 'host_response_time',
       'host_response_rate'],
      dtype='object')

In [6]:
df_pred = df.copy()
df_pred_new = df_pred[["neighbourhood_group","accommodates", "property_type", "room_type", "price", "minimum_nights", "maximum_nights" ]]

In [7]:
df_pred_new.head()

,neighbourhood_group,accommodates,property_type,room_type,price,minimum_nights,maximum_nights
0,Pankow,4,Entire rental unit,Entire home/apt,83.0,63,184
1,Pankow,7,Entire rental unit,Entire home/apt,180.0,6,14
2,Pankow,1,Entire rental unit,Entire home/apt,70.0,150,1125
3,Pankow,8,Entire rental unit,Entire home/apt,126.0,4,365
4,Pankow,4,Entire loft,Entire home/apt,179.0,3,30

In [8]:
setup(df_pred_new, target = "price")

In [9]:
best = compare_models()

Empty DataFrame
Columns: [Model, MAE, MSE, RMSE, R2, RMSLE, MAPE, TT (Sec)]
Index: []

In [10]:
lightgbm = create_model("lightgbm")

In [11]:
tuned_lightgbm = tune_model(lightgbm)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [12]:
evaluate_model(tuned_lightgbm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [13]:
final_lightgbm_best = finalize_model(tuned_lightgbm)

In [14]:
save_model(final_lightgbm_best, "ml_airbnb")